* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #fff9ea;

}

section {
    padding: 28px 6%;
}

/*header*/
header {
    width: 100%;
    padding: 28px 6%;
    position: sticky;
    top: 0;
    background-color: #eba40c45;
    z-index: 3;

}

#nav-bar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-size: 24px;
    color: #e9a209;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 48px;
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 400;
    font-size: 18px;


}

.nav-item:active a {
    border-bottom: 3px solid #9a9040;
    color: #1d1d1d;
}

#mobile-btn,
.mobile-menu {
    display: none;

}


.btn-default {
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: 400;
    border: none;
    cursor: pointer;
    background-color: #e9a209;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    transition: .5s ease-in-out;
}

.btn-default:hover {
    background-color: #ffe100;
    color: #fff9ea;
}




#home {
    display: flex;
    flex-direction: row;
    gap: 6%;
    position: relative;
    min-height: calc(100%-95px);
}

.txt-container {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 5%;
    margin-bottom: 2%;

}

.txt-container p {
    font-size: 16px;
    text-align: justify;
}

.img-container {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 75%;
}

.img-container img {
    width: 400px;
    transition: .5 ease-in-out;



}

.shape {
    position: absolute;
    width: 550px;
    height: 500px;
    background-color: #efac1b66;
    right: 0;
    border-radius: 40% 25% 0 15%;
}

h1 {
    color: #1d1d1d;
}

h1 span {
    color: #e9a209;
}

.contact-container a {
    justify-content: center;
    margin-bottom: 20px;
    width: 200px;
    text-decoration: none;
    color: #1d1d1d;
}


.contact-container i {
    font-size: 30px;
    color: #e9a209;
}


#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}


.section-title {
    text-transform: uppercase;
    text-align: center;
}

.section-subtitle {
    color: #e9a209;
    text-align: center;
}

.dishes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-top: 32px;

}

.dish {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fff;
    border-radius: 20px 0;
    padding: 30px 5%;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, .1);
}

.dish img {
    width: 170px;
}

.dish-rate {
    color: #ffe100;
}

.dish-heart {
    background-color: #e9a209;
    padding: 8px;
    border-radius: 20px 20px 20px 0;
    position: absolute;
    right: -10px;
    top: -10px;
    color: #fff;
}

.dish-heart:hover {
    zoom: 1.5;
    background-color: #ffe100;
}

.dish h2 {
    color: #e9a209;
}

.dish span {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    margin: 0 10px;
}


#testimonials {
    min-height: calc(100vh-91px);
    display: flex;
    align-items: center;
    gap: 70px;
    justify-content: center;
    margin: 30px;
    padding-top: 120px;
}

#testimonial_chef {
    width: 400px;
    height: auto;
}

#testimonial .section-subtitle {
    font-size: 3rem;
}


#testimonials_content {
    width: 50%;
}

#feedbacks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}


.feedback {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);

}

.feedback-avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.feedback-content p {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.feedback-content p span {
    color: #e9a209;
}



@media screen and (max-width: 750px) {

    

    .nav-item, .btn-default{
        display: none;
    }

     #mobile-btn {
        display: block;
        cursor: pointer;
        border: none;
        color: #e9a209;
        background-color: transparent;
        font-size: 25px;
        position: fixed;
        top: 20px;
        right: 15px;
    } 


    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    #home {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }

    .txt-container {
        height: 50vh;



        
    }
    .contact-container {
            i {
                font-size: 20px;
            }
        }

    .img-container {
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    display: block;

        img {
            width: 300px;
            margin: 0 auto;
    
        }

    }


    .dishes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin-top: 10px;

    }

    .dish {
        margin: 0 auto;

        img {

            width: 100px;
        }

        i {
            font-size: 10px;
        }
    }


    #testimonials {
        display: flex;
        flex-direction: column;
        padding-top: 20px;

    }

    #testimonial_chef {
        display: none;
    }


    #testimonials_content {
        display: flex;
        flex-direction: column;
        width: 70%;
        align-items: center;


    }

    #feedbacks {
        width: 90vw;
        margin: 30px;


    }

    .feedback {
        display: flex;
        padding: 25px;

        p {
            font-size: 10px;
        }

        i {
            font-size: 10px;
        }


    }

    .feedback-avatar {
        width: px;
    }

    .mobile-menu{
    display: flex;
    background-color:#2b1e039d;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999999;
    width: 0;
    overflow: hidden; 
    transition: .5s;
}

    .mobile-menu.abrir-menu{
    width: 40%;
}

header {   
    background-color: #eba40c00;
}

.mobile_nav-list{
    margin-left: 15px;
    margin-top: 30px;
     list-style: none;
     display: flex;
     flex-direction: column;
     gap: 20px;
    
}


.mobile-nav-item a {
    text-decoration: none;
    color: #f7f6f6ad;
    font-weight: 400;
    font-size: 15px;


}



.mobile-btn-default {
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: 300;
    border: none;
    cursor: pointer;
    background-color: #e9a209;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    transition: .5s ease-in-out;
}

.mobile-btn-default:hover {
    background-color: #ffe100;
    color: #fff9ea;
}


}